*{
    text-decoration: none;
    list-style: none;
    color: white;
}

.footer{
    background-color: rgba(65,65,65,255);
    height: 10rem;
}

.footer__ul{
    display: flex;
}

.footer__redes--img{
    width: 40px;
    height: 40px;
}

.footer__app-img{
    margin: 10px;
    height: 40px;
}