*{
    color: black;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.card{
    width: 200px;
    text-align: center;
}
.card__img{
    width: 200px;
    height: 300px;
}

.mensaje{
    margin:100px 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}